<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Career Coaching Conversation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BVZF5DTKPF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BVZF5DTKPF');
</script>

<body>
    <%- include("partials/header.ejs") %>
    <main>
        <h1>You've selected '<%= data_development_area.toLowerCase() %>'</h1>
        <form id="devCompetency" action="./702010" method="POST">
            <label for="answerDevCompetency">Prioritise a competency within '<%= data_development_area.toLowerCase() %>' that you want to develop in:</label>
            <select id="dropdownCompetency" name="answerDevCompetency" class="form-select">
                <% data_competency.forEach(item => { %>
                    <option><%= item %></option>
                <% }) %>
            </select><br/>
            <button type="submit" class="btn btn-info">Next</button>
        </form>  
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>